{{> layout/header}}

<body>

{{> layout/navbar}}

<div class="container">

    <h1 class="pt-md-5 pb-md-5">Profile de {{trainer.name}}</h1>

    <div class="card-deck">
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><a href="/trainer?trainerName={{trainer.name}}">{{trainer.name}}</a></h4>
                </div>
                <div class="card-body">
                {{#trainer.team}}
                <img class="card-img-top" src="{{pokemonTypeObject.sprites.front_default}}" alt="Pokemon"/>
                <div><span class="badge badge-secondary">Level {{level}} <!--3--></span></div>
                    {{/trainer.team}}
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>